[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = https://github.com/blender/blender-addons.git
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = https://github.com/blender/blender-addons-contrib.git
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = https://github.com/blender/blender-translations.git
[submodule "source/tools"]
	path = source/tools
	url = https://github.com/blender/blender-dev-tools.git
